{%extends 'layout.html' %}

{% block body %}
<!--<script src="https://code.jquery.com/jquery-1.10.2.js"></script>-->

<div class="main-container" style="text-align: center;">
    <div>
        <h1>Wykres danych z czujnika</h1>

        <div id="refresh">
            <div id="chart_div"></div>
        </div>
    </div>
</div>

<!--<script type="text/javascript">-->
    <!--setInterval(-->
        <!--function(){-->
            <!--$('#refresh').load(document.URL +  ' #refresh');-->
    <!--},15000);-->
<!--</script>-->

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
google.charts.load('current', {packages: ['corechart']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

    var data = google.visualization.arrayToDataTable([
        ['n','value','avg'],
        {% for data in dataList %}
            [{{ data[0] }}, {{ data[1] }}, {{ avg }}],
        {%endfor %}

    ]);

    var options = {
        hAxis: {
            title: 'Czas'
        },
        vAxis: {
            title: 'Wartość z czujnika'
        },
        seriesType: 'line',
        series: {
            0: {type: 'line',
                pointShape: 'circle',
                pointSize: 5},
            1: {type: 'line'}
            },
        trendlines: { 0: {
            //type: 'polynomial',
            //degree: 3,
            color: 'black'
            }
        }
    };

    var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));

    chart.draw(data, options);
    refresh();
}
</script>

{% endblock  %}